/* Structure */
body {
    background: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    color:#52E660;;
}

#content {
    width: 90%;
    margin: auto;
    background: rgba(255,255,255,0.99);
    border-radius: 10px;
}

.img-block {
    border-radius: 5%;
    margin: auto;
}

/* Assignment Group */

#assignments ul {
    padding-left: 5px;
}

#assignments li {
    list-style-type: none;
    text-align: center;
    display: inline-block;
}

#assignments {
    background:#4D8E29;
    padding:20px;
    width:20%;
    border-radius: 10px;
    display:inline-block;
    text-align: center;
    width: 350px;
    height: 375px;
}

#assignments a {
    text-decoration: none;
    color:#5AE5DA;
    padding:10px;
    margin:auto;
    border-radius: 10px;
    display: block;
}

#assignments a:hover {
    background:#5AE5DA;
    color:#4D8E29;
}

#assignment-pic {
    max-width: 100%;
    max-height:150px;
    max-width: 300px;
}

/* Typography */
#main-header {
    text-align: center;
    color:#4DD190;
}

#name, #intro{
    text-align: center;
}

h2 {
    text-align: center;
}

/* Media Queries */
@media only screen and (min-width:768px) {
    #assignments {
        display: inline-block;
    }

    .one {
        flex:1;
    }
    
    .two {
        flex:2;
    }

    .img-block {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}